.proprietes-morceau {
    margin: 2em 0;
    border: 1px solid #ddd;
    background-color: #fafafa;
}

.proprietes-morceau .infos {
    margin: 5px;
}

.proprietes-morceau .infos .libelle {
    color: gray;
}

.proprietes-morceau .description {
    margin: 5px;
}

#onglet-paroles .paroles {
    white-space: pre-wrap;
    max-height: 500px;
    overflow-y: auto;
    font-style: italic;
}

.resultats1.tab-fichiers .titre {
    float: left;
    margin-right: 20px;
    padding-left: 25px;
    background: transparent
        /*savepage-url=/mp3-gratuits/gifs/16x16/morceau.png*/
        var(--savepage-url-24) center left no-repeat;
}

.resultats1.tab-fichiers .non-vu .titre {
    background-image:
        /*savepage-url=/mp3-gratuits/gifs/16x16/morceau-non-vu.png*/
        url();
}

.resultats1.tab-fichiers tr.cover .titre::before {
    content: "cover";
    color: #666;
    margin-right: 5px;
    font-variant: small-caps;
    border-radius: 2px;
    background: #ddd;
    font-size: 10px;
    padding: 0 2px;
    border: 1px solid #bbb;
    vertical-align: 1px;
}

.resultats1.tab-fichiers tr.nouveaute .date::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    padding-right: 10px;
    margin-bottom: -3px;
    background: transparent
        /*savepage-url=/common/gifs/16x16/new.png*/
        url() center right no-repeat;
}

.resultats1.tab-fichiers .artiste {
    font-style: italic;
    float: right;
}

.cellule footer {
    text-align: right;
    min-height: 1em;
}

.cellule footer .notes {
    display: block;
    text-align: left;
}

.cellule.avatar footer .modified {
    position: absolute;
    left: 160px;
}

.page-index .vignette {
    float: left;
    clear: left;
    margin: 0 8px 5px 0;
}

.page-index-artistes main ul {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    -o-column-count: 4;
    -ms-column-count: 4;
    column-count: 4;
    page-break-inside: avoid;
    break-inside: avoid;
}

#tpl-body-container {
    min-height: 400px;
}

.bloc-a-l-affiche {
    padding-left: 8px;
    display: table;
    padding: 8px 0 8px 8px;
    margin: auto;
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 100%);
}

.bloc-a-l-affiche .item {
    display: block;
    border: 8px solid white;
    position: relative;
    margin-right: 8px;
    float: left;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 10px #888 inset;
}

.bloc-a-l-affiche .item:before {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .7;
    height: 50px;
    z-index: 1;
    background: var(--savepage-url-20) 190px 120px no-repeat;
        /*savepage-url=/common/skins/blhoo/gifs/common/puce-details-mini.gif*/
}

.bloc-a-l-affiche .item .affiche {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    z-index: 4;
}

.bloc-a-l-affiche .item:before,
.bloc-a-l-affiche .item .affiche {
    transition: height .5s;
}

.bloc-a-l-affiche .item:hover:before,
.bloc-a-l-affiche .item:hover .affiche {
    height: 100%;
}

.bloc-a-l-affiche .item .affiche {
    color: black;
    overflow: hidden;
}

.bloc-a-l-affiche .item .affiche .titre {
    display: block;
    margin-top: 6px;
    font-size: 14px;
    line-height: 20px;
}

.bloc-a-l-affiche .item .affiche .sous-titre {
    display: block;
    color: #999;
    font-size: 12px;
}

.bloc-a-l-affiche .item .affiche .description {
    font-size: 11px;
    text-align: justify;
    display: none;
    padding: 8px;
    font-style: italic;
}

.bloc-a-l-affiche .item:hover .affiche .description {
    display: block;
}

.bloc-a-l-affiche .item .label {
    position: absolute;
    top: -8px;
    left: -8px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 5;
    background: #2471bb;
}

.categories-style {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -o-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    page-break-inside: avoid;
    break-inside: avoid;
}

.categories-style li {
    color: #646464;
    font-size: 11px;
    text-align: right;
    clear: left;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
    display: inline-table;
    width: 100%;
    padding: 0;
    border: 0;
    background: var(--savepage-url-26) no-repeat scroll 5px center rgb(240, 240, 240);
        /*savepage-url=/common/skins/blhoo/gifs/mp3-gratuits/puce-styles.png*/
}

.categories-style li a {
    z-index: 1;
    display: block;
    font-size: 13px;
    text-indent: 60px;
    text-align: left;
    padding: 3px;
    position: relative;
    line-height: 25px;
    width: initial;
    height: 35px;
    color: #16376f;
}

.categories-style li a span {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 11px;
    line-height: initial;
    color: #444;
}

.categories-style li:hover {
    background-color: #fbf6bf;
}

.categories-style li a:hover {
    text-decoration: none;
}

.proprietes-morceau .infos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -o-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
}

.page-index-marques main ul li {
    display: table;
}

.page-fichier .audioplayer:not(.embed):hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .19);
}

.item p {
    color: pink;
    font-size: 11px;
    position: absolute;
    bottom: 0;
}
