body {
    font-family: 'Roboto', sans-serif;
}
section{
    margin: 1% 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
section button {
    height: 60%;
    background: #f5f5f5;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
section button:hover  {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}
section p {
    width: 50%;
}
table {
    border: none;
    width: 80%;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2),
                0 3px 4px 0 rgba(0, 0, 0, .14),
                0 1px 8px 0 rgba(0, 0, 0, .12);
}
.deleteIcon, .likeIcon {
    border: none;
    background: transparent;
}

tr {
    font-weight: bold;
}
tr:hover {
    background-color: #eeeeee;
}


button:active {
    border: none;
}

.duration {
    color: grey;
}

/*Style pour les petits écrans*/
@media screen and (max-width: 640px) {
    table {
        width: 100%;
    }
    section {
        width: 100%;
    }
}